<x-main>
  <div class="bg-slate-200 sm:px-4 font-sans rounded-lg">
    <table align="center">
      <tr>
        <td class="w-[600px] max-w-full ">
          <table class="w-full">
            <tr>
              <td class="p-3 sm:py-3 sm:px-6 ">
                <table class="w-[500px] mt-4 sm:w-full mx-auto ">
                  <tr>
                    <td class="">
                      <img class="float-left  " src="../images/ABSHrmsLogo.png" width="100" alt="">
                      <img class="float-right "
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/1280px-Amazon_logo.svg.png"
                        width="100" alt="">
                    </td>
                  </tr>
                </table>

                <table class="w-[600px] sm:w-full mx-auto">
                  <tr>
                    <td class="w-1/4">
                      <p class="p-0.5 bg-blue-900"></p>
                    </td>
                    <td class="w-1/4">
                      <p class="p-0.5 bg-orange-600"></p>
                    </td>
                    <td class="w-1/4">
                      <p class="p-0.5 bg-blue-900"></p>
                    </td>
                    <td class="w-1/4">
                      <p class="p-0.5 bg-orange-600"></p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="w-full px-6 sm:px-0 text-left">
                <table class="w-full ">
                  <tr>
                    <td class="">
                      <table class="w-full px-8 bg-white shadow-md rounded-xl">
                        <tr>
                          <td class=" text-center">
                            <table class="w-full">
                              <tr>
                                <td>
                                  <img
                                    src="https://static.vecteezy.com/system/resources/previews/006/988/723/original/boy-playing-game-gamer-logo-free-vector.jpg"
                                    alt="" class="rounded-full p-3 w-16 h-16  px-auto">
                                </td>
                              </tr>
                            </table>

                          </td>
                        </tr>
                        <tr>
                          <td class="text-center py-3">
                            <p class="m-0 mb-3 text-3xl leading-6">Hi <span
                                class="m-0 mb-3 text-3xl font-semibold leading-6">Narasimma</span></p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="m-0 mb-4 text-md text-slate-700  sm:text-sm">
                              Ex consequat deserunt id cupidatat exercitation irure commodo. Dolor et est irure elit
                              cupidatat laborum veniam amet eiusmod Lorem ex ea do aliqua. Ipsum Lorem nulla sit aliqua
                              quis veniam magna...
                            </p>

                            <p class="m-0 mb-6 text-md text-slate-700  sm:text-sm">
                              Ex consequat deserunt id cupidatat exercitation irure commodo. Dolor et est irure elit
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-center">
                            <a href=""
                              class="bg-green-500 hover:bg-green-700 text-white font-semibold py-2 px-4 mx-12  text-sm rounded-full [text-decoration:none] sm:mx-3">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-3 h-3">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                              </svg>
                              Accept
                            </a>
                            <a href=""
                              class="bg-red-500 hover:bg-red-700 text-white font-semibold py-2 px-4 text-sm rounded-full  mx-12 [text-decoration:none] sm:mx-3">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-3 h-3">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                              </svg>
                              Reject
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p class="m-0 mb-1 text-md text-slate-700 mt-8 sm:text-sm">
                              Ex consequat deserunt id cupidatat exercitation irure commodo. Dolor et est irure elit
                            </p>
                            <p class="m-0 mb-6 text- md text-slate-700 sm:text-sm">
                              Ex consequat deserunt id cupidatat exercitation irure commodo. Dolor et est irure elit
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class=" sm: sm:px-6 py-2 ">
                <table class="w-full">
                  <tr>
                    <td class="text-center">
                      <p class=" text-lg text-slate-700 sm:text-sm m-0">Cheers,</p>
                      <p class="m-0 font-semibold text-orange-500 fs-6  text-lg sm:text-sm">ABS_OKR Automated System</p>
                      <table class=" w-[600px] sm:w-full mx-auto m-0">
                        <tr>
                          <td class="w-1/4">
                            <p class="p-0.5 bg-blue-900 "></p>
                          </td>
                          <td class="w-1/4">
                            <p class="p-0.5 bg-orange-600"></p>
                          </td>
                          <td class="w-1/4">
                            <p class="p-0.5 bg-blue-900"></p>
                          </td>
                          <td class="w-1/4">
                            <p class="p-0.5 bg-orange-600"></p>
                          </td>
                        </tr>
                      </table>
                      <p class="m-0 text-md text-slate-700 sm:text-sm">This e-mail was generated from ABShrms, if
                        think
                        this is a spam,please do report</p>
                      <a href="" class="text-orange-500 hover:text-orange-500 [text-decoration:none]">
                        info@abshrms.com
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <td class="pt-3">
                      <table class=" w-[200px] sm:w-full " align="center">
                        <tr>
                          <td class="w-1/4">
                            <a href="https://www.linkedin.com/company/ardenshr-services-private-limited/"
                              target="_blank" style="margin-right: 20px"><img
                                src="https://abs-website-assets.s3.ap-south-1.amazonaws.com/common-assets/social-media-ic/sm-ic-001.png"
                                alt="LinkedIn"></a>
                          </td>
                          <td class="w-1/4">
                            <a href="https://www.instagram.com/ardenshr/" target="_blank"
                              style="margin-right: 20px"><img
                                src="https://abs-website-assets.s3.ap-south-1.amazonaws.com/common-assets/social-media-ic/sm-ic-002.png"
                                alt="Instagram"></a>
                          </td>
                          <td class="w-1/4">
                            <a href="https://www.facebook.com/ArdensHR" target="_blank" style="margin-right: 20px"><img
                                src="https://abs-website-assets.s3.ap-south-1.amazonaws.com/common-assets/social-media-ic/sm-ic-004.png"
                                alt="Facebook"></a>
                          </td>
                          <td class="w-1/4">
                            <a href="https://www.youtube.com/channel/UCgZ7XpBoJvcWWvaiBS5GxHg" target="_blank"><img
                                src="https://abs-website-assets.s3.ap-south-1.amazonaws.com/common-assets/social-media-ic/sm-ic-003.png"
                                alt="Youtube"></a>
                          </td>
                        </tr>
                      </table>
                      <table align="center">
                        <tr class="m-0 mb-1">
                          <td class="pt-3">
                            <a class="text-sm text-center  text-slate-700 sm:text-sm  [text-decoration:none]"
                              href="https://www.abshrms.com" target="_blank">Copyright <span
                                class="border-1 border-black rounded-full">&#169; </span>abshrms.com</a>
                          </td>
                        </tr>
                      </table>
                    </td>

                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</x-main>
